<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre Uruguay</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <header class="nav-header-macro">
        <div class="nav-header-logo" >
            <img src="images/logo-mercado-liebre.svg" alt="logo mercado liebre">
        </div> 

        <div class="form" action="#" method="GET">
            <input type="text" class="nav-search-input" placeholder="Buscar productos, marcas y más...">
            <button type="submit" class="nav-search-submit"><i class="fa fa-search"></i></div>
        </div>
         
        
        <nav class="nav-header-menu">
            <div class="nav-menu-wrap">
                <ul class="nav-menu-list1">
                    <li><a class="a-1" href="#" style="text-decoration: none">Ofertas</a></li>
                    <li><a class="a-1" href="#" style="text-decoration: none">Tiendas Oficiales</a></li>
                    <li><a class="a-1" href="#" style="text-decoration: none">Vender</a></li>
                    <li><a class="a-1" href="#" style="text-decoration: none">Ayuda</a></li>
                </ul>

                <ul class="nav-menu-list2">
                    <li><a class="a-2" href="/register" style="text-decoration: none">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a class="a-2"  href="/login" style="text-decoration: none">Ingresa<i class="fas fa-sign-in-alt"></i></a></li></a></li>
                    <li><a class="a-2" href="#" style="text-decoration: none">Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </div>    
        </nav>
            
        
        <div class="icon-burguer">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <section class="home-banner">
        <img src="images/img-home-banner.jpg" alt="banner de ofertas">
    </section>

    <section class="main-section">
        <section class="recommendations">
            <h3>Basado en tu última visita</h3>
            <div class="recom-product">
                <div class="recom-container-prod">
                    <img src="images/img-cafetera-moulinex.jpg" alt="cafetera" class="prod-img">
                    <div class="recom-prod-description">
                        <i class="fas fa-truck"></i>
                        <p class="price">$6.770</p>
                        <p class="discount">40% OFF</p>
                        <p class="prod-name">Cafetera Moulinex</p>
                    </div>    
                </div>

                <div class="recom-container-prod">
                    <img src="images/img-macbook-pro-2019.jpg" alt="macbook" class="prod-img">
                    <div class="recom-prod-description">
                        <i class="fas fa-truck"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% OFF</p>
                        <p class="prod-name">MacBook Pro 2019</p>
                    </div>    
                </div>

                <div class="recom-container-prod">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="cafetera" class="prod-img">
                    <div class="recom-prod-description">
                        <i class="fas fa-truck"></i>
                        <p class="price">$70.500</p>
                        <p class="discount">10% OFF</p>
                        <p class="prod-name">Samsung Galaxy S10</p>
                    </div>    
                </div>

                <div class="recom-container-prod">
                    <img src="images/img-tv-samsung-smart.jpg" alt="cafetera" class="prod-img">
                    <div class="recom-prod-description">
                        <i class="fas fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">05% OFF</p>
                        <p class="prod-name">Smart Tv Samsung 43"</p>
                    </div>    
                </div>

            </div>
        </section>

        <section class="offers">
            <h3>Ofertas</h3>
            <div class="offers-products">
                <div class="offers-container-prod">
                    <img src="images/img-cafetera-moulinex.jpg" alt="cafetera" class="prod-img">
                        <div class="offer-prod-description">
                            <i class="fas fa-truck"></i>
                            <p class="price">$6.770</p>
                            <p class="discount">40% OFF</p>
                            <p class="prod-name">Cafetera Moulinex</p>
                        </div>    
                </div>

                <div class="offers-container-prod">
                    <img src="images/img-macbook-pro-2019.jpg" alt="macbook" class="prod-img">
                    <div class="offer-prod-description">
                        <i class="fas fa-truck"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% OFF</p>
                        <p class="prod-name">MacBook Pro 2019</p>
                    </div>    
                </div>

                <div class="offers-container-prod">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="cafetera" class="prod-img">
                    <div class="offer-prod-description">
                        <i class="fas fa-truck"></i>
                        <p class="price">$70.500</p>
                        <p class="discount">10% OFF</p>
                        <p class="prod-name">Samsung Galaxy S10</p>
                    </div>    
                </div>

                <div class="offers-container-prod">
                    <img src="images/img-tv-samsung-smart.jpg" alt="cafetera" class="prod-img">
                    <div class="offer-prod-description">
                        <i class="fas fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">05% OFF</p>
                        <p class="prod-name">Smart Tv Samsung 43"</p>
                    </div>    
                </div>
            </div>
        </section>
    </section>
    
    <section class="site-shopping-info">
        
        <ul class="info-slide"><i class="fas fa-credit-card"></i><p>Pagá con tarjeta o en efectivo Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p></ul>
        
        <ul class="info-slide"><i class="fas fa-gift"></i><p>Envío gratis desde $ 1.999 Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. Seguridadde principio a fin ¿no te gusta?</p></ul>
        
        <ul class="info-slide"><i class="fas fa-user-shield"></i><p>¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p></u>
    </section>
    <footer class="footer-wraper">
        <small class="footer-copyright">
            Copyright © 1999-2022 DeRemate.com de Uruguay S.R.L.
        </small>
    </footer>
    
    
</body>
</html>